# http://www.gnu.org/software/automake

Makefile.in
Makefile

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/configure
/configure.scan
/depcomp
/install-sh
/missing
stamp-h1
/config.log
/config.status

# Build files
/build
.deps/
*.o
*~
shill
.dirstamp

# Test files
*test.trs
*test.log
^test*
test-suite.log

# Netbeans files
/nbproject

# Configuration headers
/src/config.h
/src/config.h.in

# Distribution files
shill*.tar*
/shill*
/README-release
/maint.mk
/basename-lgpl.c
/basename.c
/c-ctype.c
/c-ctype.h
/c-strcase.h
/c-strcasecmp.c
/c-strcaseeq.h
/c-strncasecmp.c
/close-stream.c
/close-stream.h
/closeout.c
/closeout.h
/dirname-lgpl.c
/dirname.c
/dirname.h
/dosname.h
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/fpending.c
/fpending.h
/getopt.c
/getopt.in.h
/getopt1.c
/getopt_int.h
/gettext.h
/gnulib.mk
/intprops.h
/localcharset.c
/localcharset.h
/malloc.c
/mbrtowc.c
/mbsinit.c
/mbsrtowcs-impl.h
/mbsrtowcs-state.c
/mbsrtowcs.c
/memchr.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/progname.c
/progname.h
/quote.h
/quotearg.c
/quotearg.h
/ref-add.sin
/ref-del.sin
/stdbool.in.h
/stddef.in.h
/stdio.in.h
/stdlib.in.h
/streq.h
/strerror-override.c
/strerror-override.h
/strerror.c
/string.in.h
/stripslash.c
/strndup.c
/strnlen.c
/strnlen1.c
/strnlen1.h
/sys_types.in.h
/unistd.c
/unistd.in.h
/verify.h
/wchar.in.h
/wctype-h.c
/wctype.in.h
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xmalloc.c
/xstrndup.c
/xstrndup.h
